[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
mangum = "*"
uvicorn = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pycodestyle = "*"
autopep8 = "*"
expects = "*"

[requires]
python_version = "3.8"
