name: deploy-api-to-lambda

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python 
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Pipenv
        run: pip install pipenv

      - name: Package code and dependencies
        run: |
          pipenv install
          cd $(pipenv --venv)/lib/python3.8/site-packages/ && zip -r9 ${OLDPWD}/api.zip . && cd -
          ls -1
          # cd api
          # echo ${OLDPWD}
          # zip -g ${OLDPWD}/api.zip && cd -

      - uses: shinyinc/action-aws-cli@v1.2

      - name: Ship code to S3 bucket
        run: aws s3 cp api.zip s3://${{ secrets.AWS_S3_BUCKET_NAME }}/api.zip
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          
          
